<br><br>
<div class="form-wrapper form-horizontal">
    <h1>All users</h1>
    
    <!--  検索拡張機能  -->
    <p>user search</p>
    <%= form_tag search_path, :method => 'get' do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :username => nil %>
    <% end %>
    
    <ul>
        <% @users.each do |user| %>
            <%= user.username %><br>
        <% end %>
    </ul>
</div>